<h1>Home Lookup</h1>

<form action="http://localhost:3000/zillow_stat">
  <div>
    <label for="address">Address:</label>
    <input id="address" type="text" name="address">
  </div>
<div>
    <label for="city">City:</label>
    <input id="city" type="text" name="city">
  </div>
  <div>
    <label for="state">State:</label>
    <input id="state" type="text" name="state">
  </div>
    <input type="submit" value="Submit Address">
  </div>
</form>
